*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  border: none;
  outline: none;
  outline-offset: inherit;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

body {
  background-color: #E5E5E5;
}

section {
  margin: 3%;

}

form {
  width: 100%;
  display: flex;
  padding: 60px;
  background: #FFFFFF;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* a[href="#"] {
  pointer-events: none;
} */

label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  margin: 5px 0;
}

label:focus-visible {
  outline: none;
}

input {
  height: 37px;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

textarea {
  height: 97px;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  font-family: 'Inter', sans-serif;
}

select {
  height: 37px;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 16px;
}

.choices__inner {
  padding: 10px 12px;
  height: 37px;
  min-height: auto;
  background-color: #ffffff;
  border: 1px solid #E0E0E0;
  color: #2c2c2c;
  border-radius: 4px;
  font-size: 13px;
}

.choices {
  margin-bottom: 23px;
  width: 260px;
  font-size: 13px;
}

.choices__list--single {
  padding: 0;
}

.choices,
.choices:last-child {
  margin-bottom: 47px;
}

.is-open .choices__inner {
  border-radius: 4px 4px 0 0;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border: 1px solid #E0E0E0;
}

.choices__list--dropdown .choices__item {
  font-size: 13px;
}

.coices__list:focus-visible {
  outline: none;
}

select.form__input:focus-visible {
  outline: none;
}

.choises__placeholder {
  opacity: 0.5;
}

.choices__list--dropdown {
  z-index: 10;
}


.select {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 16px;
  position: relative;
}

.select.is-active .select__body {
  display: block;
  z-index: 2;
  max-height: 75px;
  overflow: scroll;
}

.select__icon {
  font-size: 15px;
}

.select__header {
  display: flex;
  justify-content: space-between;
  height: 37px;
  padding: 10px 12px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
}

.select__header>svg {
  margin-left: 15px;
  opacity: 0.3;
}

.select__start {
  opacity: 0.5;
}

.select__body {
  border: 1px solid #E0E0E0;
  padding: 5px 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

.select__item {
  padding-left: 12px;
}

.select__item:hover {
  padding-right: 10px;
  background-color: rgba(24, 160, 251, 0.5);
}

.form__label {
  margin-bottom: 8px;
}

input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder {
  color: #2C2C2C;
  font-size: 13px;
  line-height: 16px;
  opacity: 0.5;
}

input:focus,
textarea:focus {
  outline: none;
}

input:disabled,
textarea:disabled,
.form-disabled {
  background: rgba(224, 224, 224, 0.3);
}

input:focus::placeholder,
input:focus::-webkit-input-placeholder,
textarea:focus::placeholder,
textarea:focus::-webkit-input-placeholder,
.form-focused::placeholder {
  opacity: 1;
}

input:invalid,
.form-error,
.textarea-err {
  background: rgba(255, 62, 29, 0.06);
  border: 1px solid #FF3E1D;
}

input:invalid::placeholder,
input:invalid::-webkit-input-placeholder,
textarea:invalid::placeholder,
textarea:invalid::-webkit-input-placeholder,
.form-error::placeholder,
.textarea-err::placeholder {
  color: #FF3E1D;
  opacity: 1;
}

.serch-left::placeholder {
  background: url(../img/Vector.svg);
  background-repeat: no-repeat;
  padding: 0 0 0 25px;
  opacity: 0.5;
}

.serch-right::placeholder {
  background: url(../img/Vector-right.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  opacity: 0.5;
}

.form__input--blue,
.form__input--blue:focus {
  border: 1px solid #18A0FB;
}

.form__col,
.form__col-bg {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin: 20px auto;
}

.form__col-sm {
  position: relative;
}

.form__col:nth-child(2) {
  padding-top: 24px;
}

.input__group {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin-bottom: 23px;
  width: 260px;
}

.input__choose {
  display: flex;
  align-items: center;
}

.option-checkbox,
.radio-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.option-checkbox+span,
.radio-checkbox+span,
.option-label, 
.radio-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

}

.option-checkbox+span::before,
.radio-checkbox+span::before,
.option-label::before,
.radio-label::before
 {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #E0E0E0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
}

.option-checkbox+span,
.radio-checkbox+span,
.option-label,
.radio-label {
  margin-right: 8px;
}

.option-checkbox+span::before {
  border-radius: 4px;
}

.option-label::before,
.radio-label::before {
  visibility: hidden;
  width: 0;
  height: 0;
  margin-right: 0;
}

.option-label,
.radio-label {
  margin-right: 7px;
}

.first-label {
  margin-right: 49px;
}

.radio-checkbox+span::before {
  border-radius: 50%;

}

.option-checkbox:checked+span::before {
  border-color: #18A0FB;
  background-color: #18A0FB;
  background-image: url(../img/check-mark.svg);

}

th label .option-checkbox+span::before {
  border-color: #18A0FB;
  background-color: #18A0FB;
  background-image: url(../img/unchecked.svg)
}


.radio-checkbox:checked+span::before {
  border: 4px solid #18A0FB;

}

.option-checkbox:not(:disabled):not(:checked)+span:hover::before,
.radio-checkbox:not(:disabled):not(:checked)+span:hover::before {
  border-color: #18A0FB;
}

.option-checkbox:disabled+span::before,
.radio-checkbox:disabled+span::before {
  background-color: #e9ecef;
}

.tumbler__wrap {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
  margin: 0 20px 0 0;
  /* box-sizing: border-box; */
}

.tumbler__wrap-small {
  height: 24px;
}

.tumbler__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.tumbler__label {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  margin-left: -10px;
}

.tumbler__btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid;
  border-color: rgba(44, 44, 44, 0.2);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 19px;
  cursor: pointer;
  box-sizing: border-box;
}

.tumbler__btn::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: rgba(44, 44, 44, 0.2);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.tumbler__btn-small::before {
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
}

input:checked+.tumbler__btn {
  background-color: #00D200;
  border: 1px solid #00D200;
}

input:checked+.tumbler__btn:before {
  background-color: #ffffff;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}

input:checked+.tumbler__btn-small:before {
  transform: translateX(29px);
  -webkit-transform: translateX(29px);
  -ms-transform: translateX(29px);
}

input:disabled+.tumbler__btn {
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
}

input:disabled+.tumbler__btn:before {
  background: #ffffff;
  /* border: 1px solid #ffffff; */
}

.form__col-bg {
  margin: 0 0 30px;
  flex-basis: 50%;
  position: relative;
}

h2 {
  margin-bottom: 28px;
}

.buttons__group {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 24px;
  margin-right: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.button p {
  font-size: 10px;
}

.button-bg svg {
  width: 24px;
}

.button-bg {
  width: 144px;
  height: 46px;
  padding: 0 25px;
}

.button-sm {
  width: 115px;
  height: 36px;
  padding: 0 12px;
}

.button-sm svg {
  width: 20px;
}

.button-xs {
  padding: 0 6px;
  min-width: 51px;
  height: 28px;
}

.button-xs svg {
  margin: 5px;
}

.button--blue,
.button--light:hover {
  background: #18A0FB;
  border: 1px solid #18A0FB;
  color: #ffffff;
  stroke: #ffffff;
}

.button--blue:hover,
.button--light {
  background: #ffffff;
  border: 1px solid #18A0FB;
  color: #18A0FB;
  stroke: #18A0FB;
}

.button--grey {
  background: rgba(224, 224, 224, 0.3);
  color: #878787;
  stroke: #878787;
}

.button--wight {
  background: #ffffff;
  color: #2C2C2C;
  stroke: #2C2C2C;
  border: 1px solid #E0E0E0;
}

.button--wight:hover {
  border: 1px solid rgba(224, 224, 224, 0.15);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
}

.button--red {
  background: #FF3E1D;
  color: #ffffff;
  stroke: #ffffff;
}

.button--red:hover {
  color: #FF3E1D;
  stroke: #FF3E1D;
  border: 1px solid #FF3E1D;
  background: #ffffff;

}

.tabs__nav {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.tabs__nav>input[type="radio"] {
  display: none;
}


.tabs-nav__item {
  height: 48px;
  width: 48px;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: #2C2C2C;
  border: 1px solid #E0E0E0;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.item__change {
  width: 134px;
  height: 46px;
}

.item__active {
  background-color: #18A0FB;
  border-color: #18A0FB;
  color: #ffffff;
}

.tabs-nav__item:nth-child(1),
.item__first {
  border-radius: 5px 0 0 5px;
}



.tabs-nav__item:nth-last-child(1) {
  border-radius: 0 5px 5px 0;
}

.tabs-nav__item:not(:first-of-type) {
  border-left: none;
}

.item__serch svg {
  stroke: #2C2C2C;
  outline: none;
}

.item__active svg {
  stroke: #ffffff;
}

.tabs-nav__item:hover {
  color: #18A0FB;
  border: 1px solid #18A0FB;
  background-color: #ffffff;
}

.tabs-nav__item:hover svg {
  stroke: #18A0FB;
}

.tabs__nav>input[type="radio"]:checked+label {
  background-color: #18A0FB;
  border: 1px solid #18A0FB;
  color: #ffffff;
}

.tabs__nav>input[type="radio"]:checked+label:hover {
  background-color: #18A0FB;
  border: 1px solid #18A0FB;
  color: #ffffff;
}

.tabs__nav>input[type="radio"]:checked+label svg {
  stroke: #ffffff;
}

.item__size {
  height: 46px;
  width: 106px;
}

  

/* Navigation */

.tabs__group {
  display: flex;
  flex-wrap: wrap;
}

.tabs__group-steps {
  width: fit-content;
  justify-content: space-between;
  backgroun: #e7f5ff;


}

.button__current {
  width: 126px;
  height: 36px;
  padding-bottom: 1px;
  padding-left: 10px;
  margin-right: 0;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
}

.button__current.button__step {
  height: 28px;
  margin-bottom: 0px;
  width: 92px;
  color: #18A0FB;
  background: #e7f5ff;
  border: none;
  outline: none;
}

ul.tabs__group-steps>li {
  position: relative;
}

.button__step::before,
.button__step::after {
  content: '';
  position: absolute;
  background: transparent;
  left: 82px;
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  z-index: 1;

}

.button__step::before {
  z-index: 1;
  border: 11px solid transparent;
  left: 81px;
  border-right: 11px solid #e7f5ff;
  border-top: 11px solid #e7f5ff;

}





li>.current__item-active.button__step::before,
li>.current__item-active.button__step::after {
  content: '';
  position: absolute;
  background: #18A0FB;
  border: none;
  left: 82px;
  bottom: 4px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

li>.current__item-active+li>.button__step::before,
li>.current__item-active+li>.button__step::after {
  border-right: none;
  border-top: none;
}

li:nth-child(1)>.button__step {
  border-radius: 22px 0 0 22px;

}



li:nth-last-child(1)>.button__step::after,
li:nth-last-child(1)>.button__step::before {
  background: transparent;
  border: none;
}

li:nth-last-child(1)>.button__step {
  border-radius: 0 22px 22px 0;
}

.current__item-active.button__step {
  background: #18A0FB;
  color: #ffffff;
}

.button__current svg {
  stroke: #2c2c2c;
}

.tabs__group:nth-child(1) {
  border: none;
}

.tabs-wrapper {
  margin-bottom: 76px;
}

.tabs__title {
  margin-bottom: 36px;
}

.current__item-active {
  color: #18A0FB;
  border-bottom: 2px solid #18A0FB;
  padding-bottom: 0;
}

.current__item-active svg {
  stroke: #18A0FB;
}

ul.breadcrumbs li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 12px;
  margin-bottom: 19px;
}

ul.breadcrumbs--grey li a {
  color: #2c2c2c;
}

ul.breadcrumbs--grey li a:hover {
  border-bottom: #2c2c2c solid 2px;
}

ul.breadcrumbs--blue li {
  margin-bottom: 40px;
}

ul.breadcrumbs--blue li a {
  color: #18A0FB;
}

ul.breadcrumbs--blue li img {
  opacity: 0.5;
}

ul.breadcrumbs--blue li a:hover {
  border-bottom: #18A0FB solid 2px;
}

ul.breadcrumbs li:nth-last-child(1) {
  color: #2C2C2C;
  opacity: 0.5;
}

.next-img {
  margin-left: 12px;
}

.breadcrumbs-wrapper {
  margin-bottom: 86px;
}


/* custom slider */
.form__bar {
  margin: 85px 0;
  width: 300px;
  max-width: 100%;
}

.form__bar-next {
  margin-bottom: 85px;
}

.noUi-tooltip {
  display: none;
}



.noUi-connect {
  background: #18A0FB;
}

.noUi-horizontal {
  height: 4px;
  border: none;
  border-radius: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  left: -17px;
  top: -11px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.04);
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
}

.handler__drop .noUi-tooltip {
  display: block;
  border: none;
  font-size: 13px;
  font-weight: 500;
  left: 4px;
  top: -39px;
  background: transparent;
  color: #ffffff;
}

.handler__drop .noUi-handle {
  background-color: #18A0FB;
  width: 10px;
  height: 10px;
  top: -3px;
  border: none;
  box-shadow: none;
}

.handler__drop .noUi-handle::before {
  content: '';
  display: block;
  border: none;
  background-color: #18A0FB;
  color: #ffffff;
  border: none;
  box-shadow: none;
  float: left;
  width: 36px;
  height: 36px;
  top: -45px;
  left: -13px;
  border-radius: 100% 100% 100% 0;
  transform: rotateZ(-45deg);
}

.noUi-target {
  background: #E0E0E0;
  box-shadow: none;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -14px;
  left: auto;
}

html:not([dir=rtl]) .handler__drop .noUi-handle {
  right: -5px;
  left: auto;
}

/* stepper */

.multisteps-form__progress {
  display: flex;
  margin-top: 28px;
  width: 70%;
  min-width: 260px;
}

.multisteps-form__progress-btn {
  display: flex;
  width: 25%;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: #E0E0E0;
  border: none;
  background-color: transparent;
  outline: none;
}



.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  /* left: 10px; */
  display: block;
  width: 12px;
  height: 12px;
  content: '';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  background-color: #E0E0E0;
  border-radius: 50%;

  box-sizing: border-box;
  z-index: 3;
}

.multisteps-form__progress-bg button:before {
  width: 18px;
  height: 18px;
}

.multisteps-form__progress-bg button.js-next:before {
  border: 3px solid #18A0FB;
}

.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-100% - 12px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}

.multisteps-form__progress-bg .multisteps-form__progress-btn:after {
  top: 8px;
  left: calc(-100% - 18px / 2);
}


.multisteps-form__progress-bg button.js-next:after {
  background-color: #18A0FB;
}

.form__vertical .multisteps-form__progress-bg button::after {
  top: 8px;
  left: calc(-100%);
}



.multisteps-form__progress-btn:first-child:after {
  display: none;
}

.multisteps-form__progress-btn.js-active {
  color: #18A0FB;
}


.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__progress-bg {
  margin-bottom: 60px;
}

.multisteps-form__progress-bg button.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);

  content: url(../img/progress-check.svg);
  background-color: #18A0FB;
}

.form__vertical {
  position: absolute;
  bottom: 18px;
  right: -80px;
  transform: rotate(90deg);
  width: 363px;
}

.form__vertical button.multisteps-form__progress-btn:before {
  transform: rotate(-90deg);
}

/* Pagination */

.pagination__group,
.pagination,
.pagination-bg {
  display: flex;
  flex-direction: row;

}

.pagination {
  margin-bottom: 40px;
  align-items: center;
}

.pagination__group,
.pagination-bg {
  margin-bottom: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-bg>p {
  margin-left: 11px;
  margin-right: 11px;
}

.page-link {
  outline: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin-right: 11px;
}

.page-link__prev,
.page-link__next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background: rgba(224, 224, 224, 0.3);
}

.page-link__square {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}

.page-link__circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #2c2c2c;
}

.page-link.active {
  color: #18A0FB;
}

.page-link {
  font-size: 13px;
  font-weight: 500;
  color: #2c2c2c;
  background: transparent;
}

.page-link__square.page-link__prev,
.page-link__circle.page-link__prev,
.page-link__square.page-link__next,
.page-link__circle.page-link__next {
  background: rgba(224, 224, 224, 0.3);
}

.page-link__square.page-link-active,
.page-link__circle.page-link-active {
  background-color: #18A0FB;
  border-color: #18A0FB;
  color: #ffffff;
}

.page-link__square>svg,
.page-link__circle>svg,
.page-link__fill>svg,
.page-link__select>svg {
  fill: #18A0FB;
}

.page-link__select>svg {
  margin-left: 13px;
  margin-right: 13px;
}

.page-link__square.disabled>svg,
.page-link__circle.disabled>svg,
.page-link__select.disabled>svg {
  fill: #2C2C2C;
  opacity: 0.3;
}

.page-link__fill.disabled>svg {
  fill: #2C2C2C;
  opacity: 0.4;
}

.page-link__square.page-link-active>svg,
.page-link__circle.page-link-active>svg {
  fill: #ffffff;
}

.page-link__select {
  height: 37px;
  background: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 12px;
}

.page-item>.select>.select__header {
  border: none;
}

.page-link__select.page-link__next,
.page-link__select.page-link__prev {
  background: rgba(24, 160, 251, 0.1);
  color: #18A0FB;
}

.page-link__select.disabled {
  background: rgba(224, 224, 224, 0.3);
  color: #8B8B8B;
}

.hidden {
  display: none;
}

/* alert */

.form__alert {
  padding: 40px;
}

.alert__group {
  margin-top: 40px;
  margin-right: 3%;
  width: 313px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

.alert__item {
  /* height: 70px; */
  margin-bottom: 20px;
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
  position: relative;
}

.alert-title {
  size: 13px;
  font-weight: 700;
}

.alert__bg {
  height: 70px;
}

.alert__close,
.alert__alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
}

.alert__wrap {
  flex-direction: row;
}

.alert__close {
  background: rgba(224, 224, 224, 1);
}

.alert__alarm {
  position: relative;
  top: 0;
  left: 0;
  color: #000000;
  font-weight: 700;
}

.alert--light {
  border: 1px solid rgba(224, 224, 224, 0.15);
}

.alert--light>.alert__alarm {
  background: #FF3E1D;
  color: #ffffff;
}

.alert__close>svg {
  fill: #ffffff;
}

.alert--blue {
  background-color: #18A0FB;
  color: #ffffff;
}

.alert--red {
  background: #FF3E1D;
  color: #ffffff;
}

.alert--blue>.alert__close {
  background-color: #ffffff;
}

.alert--blue>.alert__close>svg {
  fill: #18A0FB;
}

.alert-disabled {
  opacity: 0.5;
}

.alert__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 25px;
}

.alert__link {
  position: absolute;
  height: 100%;
  max-width: 30%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #E0E0E0;
}

.alert__link>a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  color: inherit;
  height: 50%;
}

.alert__open {
  border-bottom: 1px solid #E0E0E0;
  font-weight: 700;
}

.alert--red>.alert__link,
.alert--red>.alert__link>.alert__open {
  border-color: #ffffff;
}

.alert__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 658px;
  height: 296px;
  position: relative;
}

.overlay {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.2);
}

.modal__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  /* transform: translate(50%); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 313px;
  max-width: 100%;
  min-height: 134px;
  background: #FFFFFF;
  border: 1px solid rgba(224, 224, 224, 0.15);
  box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal__text {
  margin-bottom: 24px;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
}

.modal__buttons>input {
  margin-left: 4px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 10px 14px;
}

.form__wrapper {
  width: 649px;
  max-width: 100%;
  justify-content: space-between;
  padding: 39px 24px;
}

.components__item {
  width: 273px;
  max-width: 100%;
  height: 281px;
  border: 1px dashed #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
  padding: 20px;
}

.components__item>svg {
  stroke: #2C2C2C;
  margin-bottom: 21px;
}


.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.upload-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 240px;
  border: 2px dashed #150B22;
  padding: 9px 49px; */
  /* border-radius: 6px; */
  cursor: pointer;
}


.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
  transition: .25s ease;
}

.upload-file__label--blue:hover .upload-file__text {
  color: #18A0FB;
}

.upload-file__label--blue:hover .upload-file__icon {
  stroke: #18A0FB;
  opacity: 1;
}

.upload-file__label--blue:hover {
  border: 1px dashed #18A0FB;
}


.upload__title {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 8px;
}

.upload__title-progress {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: center;
}

.upload__subtitle {
  margin-bottom: 34px;
  font-size: 13px;
  opacity: 0.4;
}

.components--red {
  background: rgba(255, 62, 29, 0.05);
  border: 1px dashed #FF3E1D;

}

.components--red>svg {
  stroke: #FF3E1D;
}

.components--red>.upload__title {
  font-size: 17px;
  font-weight: 600;
  color: #FF3E1D;
}

.upload__button {
  padding: 10px 24px;
  margin: 0;
}

.upload__button-sm {
  padding: 8px 10px;
  margin: 0;
}

.upload__button-sm>img {
  width: 20px;
  margin-left: 9px;
}

.upload__header,
.progress__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.upload__header-title {
  font-weight: 600;
  font-size: 16px;
}

.components__loading {
  height: fit-content;
  border: none;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12)
}

.progress__text {
  flex-grow: 1;
  margin-left: 10px;
}

.progress__file-name {
  font-size: 13px;
  line-height: 16px;
}

.progress__time {
  font-weight: 500;
  font-size: 11px;
  opacity: 0.6;
}

.progress__image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress__image>img {
  max-width: 100%;
  overflow: hidden;
}

.progress__status,
.progress__color {
  height: 2px;
  border-radius: 10px;
}

.progress__status {
  width: 100%;
  background: #E0E0E0;
  margin-bottom: 12px;
}

.progress__color--blue {
  background: #18A0FB;
  width: 37%;
}

.progress__color--green {
  background: #00D200;
  width: 100%;
}

.progress__color--red {
  background: #FF3E1D;
  width: 100%;
}

.progress__color--yellow {
  background: #FFD422;
  width: 37%;
}

.bg--red {
  background-color: #FF3E1D;
}

.upload__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  margin-bottom: 26px;
  background: #00D200;
}

.upload__title-end {
  margin-bottom: 26px;
}

.progress-ring {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
  z-index: 1;
}

.progress__wrapper {
  position: relative;
}

.progress__value {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 72%;
  height: 50%;
  overflow: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-weight: 700;
}

.percent {
  width: 100%;
  font-size: 33px;
  font-weight: 700;
  color: #2C2C2C;
  text-align: right;
}

.progress-percent {
  width: 100%;
  flex-basis: 16%;
  font-size: 21px;
  font-weight: 500;
  text-align: right;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  border: none;
  height: auto;
  padding: 0;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

progress {
  background: #E0E0E0;
  border-radius: 10px;
  height: 6px;
  margin-bottom: 19px;
  width: 183px;
}

progress::-webkit-progress-bar {
  background: #E0E0E0;
  border-radius: 10px;
  height: 6px;
}

progress::-webkit-progress-value {
  background: #18A0FB;
  border-radius: 10px;
  height: 6px;
}

/* Tables */

.form__tables {
  flex-direction: column;
}

.table__wrap {
  display: inline-block;
  width: 805px;
  max-width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 77px;
}

table {
  width: 100%;

  text-align: left;
  font-size: 13px;
  cursor: pointer;

  box-sizing: border-box;
  border-collapse: collapse;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  overflow: hidden;
  /* display: block; */
}

thead {
  background: #F7F7F7;
}

td,
th {
  height: 48px;
  padding-left: 12px;
}

th:focus-visible,
span:focus-visible {
  outline: none;
}

tr {
  box-shadow: inset 0px -1px 0px #E0E0E0;
}

tbody tr:nth-last-child(1) {
  box-shadow: none;
}

.table-1 td:nth-child(2),
.table-2 td:nth-child(4) {
  opacity: 0.5;
}

.table__wrap td:nth-last-child(1) {
  padding-right: 22px;
  text-align: right;
}

tbody>tr:hover {
  background: rgba(255, 212, 34, 0.1);
  box-shadow: inset 0px -1px 0px #E0E0E0;
}

.table__input {
  margin: 0;
  width: 260px;
  max-width: 100%;
}

.table__title {
  display: flex;
  flex-wrap: wrap;
  width: 805px;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table__title h2 {
  margin: 0;
}

/* calendar */

div.flatpickr-calendar {
  font-size: 12px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
  width: 227px;

}

.dayContainer {
  width: 227px;
  min-width: 227px;
  max-width: 227px;
  flex-wrap: wrap;
  display: flex;
  padding: 5px;
}

.flatpickr-input {
  display: none;
}

.flatpickr-days {
  width: 227px;
}

.flatpickr-day {
  max-width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}

.flatpickr-months .flatpickr-month {
  height: 30px;
  background-color: #e7f5ff;
  color: #2C2C2C;

  border-radius: 5px;
  margin: 12px 14px;
}

.flatpickr-current-month {
  display: flex;
  justify-content: center;
  padding: 0;

}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  order: 1;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #2C2C2C;
}

.flatpickr-current-month input.cur-year,
.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  color: #2c2c2c;
  width: 50%;
}

.flatpickr-current-month .numInputWrapper {
  display: flex;
  justify-content: flex-end;
}

span.flatpickr-weekday {
  font-size: 100%;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  top: 7px;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  left: 15px;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  right: 15px;
}

.flatpickr-weekdays {
  height: auto;
  padding: 0 5px;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.flatpickr-day,
span.flatpickr-weekday {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #2C2C2C;
  font-size: 12px;
}




/* .flatpickr-day.selected, */
.flatpickr-day.startRange,
.flatpickr-day.endRange,
/* .flatpickr-day.selected.inRange, */
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
/* .flatpickr-day.selected:focus, */
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
/* .flatpickr-day.selected:hover, */
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #e7f5ff;
  border-color: #e7f5ff;
}


.flatpickr-day.selected:focus {
  border-radius: 50%;
}

.flatpickr-day.startRange.endRange, .flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}

.flatpickr-day.selected.endRange {
  border-radius: 0 50px 50px 0;
}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange,
.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
  /* border-radius: ; */
  z-index: 2;
}


.flatpickr-day.selected.startRange.endRange, .flatpickr-day.startRange.startRange.endRange, .flatpickr-day.endRange.startRange.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.selected:first-child {
  background: #18A0FB;
  border-color: #18A0FB;
}


.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: #e7f5ff;
  border-color: #e7f5ff;
}

.flatpickr-day.selected.startRange::before, .flatpickr-day.startRange.startRange::before, .flatpickr-day.endRange.startRange::before, .flatpickr-day.selected.endRange::before, .flatpickr-day.startRange.endRange::before, .flatpickr-day.endRange.endRange::before,

.flatpickr-day.selected::before {
  content:'';
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  width: 30px;
  height: 30px;
  background: #18A0FB;
  border-color: #18A0FB;
  left: -1px;
  top: -1px;
}

.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e7f5ff, 5px 0 0 #e7f5ff;
  box-shadow: -5px 0 0 #e7f5ff, 5px 0 0 #e7f5ff;
}


.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #e7f5ff;
  box-shadow: -10px 0 0 #e7f5ff;
  z-index: -3;
}

/* media */
@media screen and (max-width: 900px) {
  .form__vertical {
    right: -150px;
  }
}

@media screen and (max-width: 540px) {

  .forms {
    margin: 0;
  }

  form {
    align-items: center;
    padding: 30px;
  }

  .form__col-sm  {
    display: flex;
    flex-direction: column;
  }
  

  .form__col,
  .form__col-bg,
  .form__col-sm {
    
    align-items: center;
  }


  #section-1 {
    padding-left: 0;
    padding-right: 0;
  }

  #section-2 {
    justify-content: center;
  }

  .alert__wrapper,
  .form__wrapper {
    justify-content: center;
  }

  .tabs__group {
    flex-direction: column;
  }

  .form__vertical {
    display: none;
  }

  .item__size {
    width: 90px;
  }


  /* table {
    overflow: scroll;
    display: block;
  }

  td,
  th {
    width: 50%;
  } */

table {
  border: none;
}

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 8px;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
    padding: 16px 12px;
  }

  .table-1 td:nth-child(2), .table-2 td:nth-child(4) {
    opacity: 1;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
      display: none;
  }

  table tr:nth-last-child(1) {
    margin-bottom: 0;
  }

  td, th {
    padding-right: 12px;
  }

  .table__title h2 {
    margin: 28px;
  }

  .serch-left {
    width: 100%;
  }

  td .option-checkbox+span {
    margin-right: 0;
  }


}